.result__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: safe;

  max-width: 920px;
  margin: auto;
  padding-bottom: 25px;
}

.result__container h3 {
  padding-top: 10px;
}

.result_wrapper {
  background: #41295a; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to bottom,
    #2f0743,
    #41295a
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to bottom,
    #2f0743,
    #41295a
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  min-height: 100vh;
}

.result__questions {
  padding: 5px 15px;
}

.result__text {
  color: var(--main-light);
  font-size: 1rem;
  padding-bottom: 10px;
}

.result__text div p {
  display: inline-block;
}

.result_answer {
  font-weight: bold;
  font-size: 1rem;
  line-height: 1.5;
  padding-left: 15px;
  margin-bottom: 10px;
  line-height: 2rem !important;

  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 10px;

  background-color: var(--main-light);
  color: var(--main-dark);
}

.result_answer div {
  display: inline;
}

.result_answer div p {
  display: inline;
  flex-wrap: wrap;
  margin-bottom: 0;
  margin: 0 10px;
}

.result__explanation {
  font-size: 1rem;
  color: var(--main-light);
  margin: 20px 0;
}

.result__explanation div {
  /* display: inline-block; */
}

.result__explanation p {
  margin-bottom: 0;
}

.correct {
  background: green;
  color: #fff;
}

.incorrect {
  background: red;
  color: #fff;
}

.text-center {
  text-align: center;
}
