.result__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: safe;

  max-width: 920px;
  margin: auto;
}

.result_wrapper {
  background: var(--main-dark);
}

.result__questions {
  padding: 5px 15px;
}

.result_answer {
  font-weight: bold;
  font-size: 1rem;
  line-height: 1.5;
  padding-left: 15px;
  margin-bottom: 10px;
  line-height: 2rem !important;

  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 10px;

  background-color: var(--main-light);
  color: var(--main-dark);
}

.correct {
  background: green;
  color: #fff;
}

.incorrect {
  background: red;
  color: #fff;
}
