.navbar {
  background: #41295a; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to bottom,
    #2f0743,
    #41295a
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to bottom,
    #2f0743,
    #41295a
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar a {
  text-decoration: none;
  color: var(--main-light);
  font-size: 1.5rem;
  padding: 5px 0;
  height: 100%;
  width: 100%;
  text-align: center;
}

.navbar a:hover {
  color: #fff;
}

@media screen and (max-width: 768px) {
  .navbar a {
    font-size: 1.2rem;
    padding: 10px 0;
  }
}
