body {
  margin: 0;
  font-family: "Indie Flower", cursive;
  font-family: "Play", sans-serif;
  font-family: "PT Serif", serif;
}

code {
  font-family: "Indie Flower", cursive;
  font-family: "Play", sans-serif;
  font-family: "PT Serif", serif;
}
