.wrapper {
  background: rgb(21, 25, 101);
  background: rgb(14, 47, 68);
  background: radial-gradient(
    circle,
    rgba(14, 47, 68, 1) 0%,
    rgba(102, 0, 102, 1) 100%
  );
  color: var(--main-light);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100vh;
}

.variants-group {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  align-items: center;
  gap: 25px;
  padding-top: 5px;
}

.variants-link {
  text-decoration: none;
  text-align: center;
  color: var(--main-light);
  font-weight: bold;
  font-size: 1.2rem;
  padding: 10px 15px;
  border-radius: 100%;
}

.variants-link:hover {
  background: var(--secondary-dark);
}
