.wrapper {
  background: var(--main-dark);
  color: var(--main-light);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100vh;
}

.variants-group {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  align-items: center;
  gap: 25px;
  padding-top: 25px;
}

.variants-link {
  text-decoration: none;
  text-align: center;
  color: var(--main-light);
  font-weight: bold;
  font-size: 1.2rem;
  padding: 10px;
  border-radius: 100%;
}

.variants-link:hover {
  background: var(--secondary-dark);
}
